.first-color { 
	background: #57385c; 
}
	
.second-color { 
	background: #a75265; 
}

.third-color { 
	background: #ec7263; 
}

.fourth-color { 
	background: #febe7e; 
}



.wrap{
  background: #57385c;
    border: 1px solid blueviolet;
    max-width: 950px !important;
    padding: 20px 0;
    border-radius: 5px;
    box-shadow: 0px 9px 9px rgb(213, 213, 213);
    margin: 20px auto;
  }
  .sourceCode {
    color: #57385c;
    text-decoration: none;
  }
