.Current{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 15px;
    align-items: center;
}
.CurrentDetails{
    margin-left: 100px !important;
    font-size: 18px;
}
.degree{
    font-size: 40px;
}
.unit{
    font-size: 18px;
    position: relative;
    top:-14px;
    font-weight: bold;
}
.currentDay{
    font-size: 18px;
}
.currentTime{
    font-size: 18px;
}
@media (max-width:800px){
    .degree{
        font-size: 25px;
    }
    .Current{
        justify-content: space-around;
        gap: 0;
    }
    .CurrentDetails{
        margin-left: 0 !important;
    }
    .unit{
        font-size: 16px;
    }
}